

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6b0c17;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #3b0a0d;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
  background-color: #3b0a0d;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #FFD700
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}



form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
  font-weight: bold;
}

form label input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

form label input[type="number"],
form label input[type="time"] {
  width: 100px;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4b0a0d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #6b0c17;
}


.link-active {
  font-weight: bold;
  color: #90947e;
}